
.page-content {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
  
  @media screen and (orientation: portrait) {
  /*竖屏 css*/
  }
  @media screen and (orientation: landscape) {
  /*横屏 css*/
  }
  @media screen and (min-width:1366px){
  /*pc端 css*/
    .page-content {
        max-width: 1000px;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
  }
  
  /*iphone 5/5s/5se */
  @media screen and (max-width:569px){
    .page-content {
        max-width: 90%;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
  }
  /*iphone 6/7/8 */
  @media screen and (min-width:569px) and (max-width:668px){
    .page-content {
        max-width: 90%;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
  }
  /*iphone 6p/7p/8p */
  @media screen and (min-width:668px) and (max-width:737px){
    .page-content {
        max-width: 90%;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
  }
  /*iphone x */
  @media screen and (min-width:737px) and (max-width:813px){
    .page-content {
        max-width: 90%;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
  }
  /*ipad*/
  @media screen and (min-width:813px) and (max-width:1025px){
    .page-content {
        max-width: 90%;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
  }
  /*ipad pro*/
  @media screen and (min-width:1024px){
    .page-content {
        max-width: 90%;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
  
  }